.DS_Store
.cache
dist
node_modules
*.sw*
GHtoken: 871eba93e02dfc55166e9757a11633c4b985f3b9
Weirdone1

Google API client id: 1002046679509-40pkhemrs3guecfljqprkep2sv2abtj5.apps.googleusercontent.com
Google API client secret: lzy-Ev2WIxnV150cOLjlCjNp
