* {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

img {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 10px;
}

.header-text {
  color: rgb(148, 184, 174);
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  font-weight: bolder;
  font-style: italic;
  padding: 30px 0px 0px 20px;
  margin-top: 10px;
  text-decoration: none;
  transition-duration: 1s;
}
.header-text:hover {
  color: rgb(238, 183, 183)
}

nav {
  margin: 50px 0px 50px 0px;
  display: flex;
  align-self: flex-end;
  position: sticky;
}
.hidden {
  display: none;
}
.nav-link {
  color: rgb(148, 184, 174);
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  padding: 0px 20px;
  margin: 5px;
}
.nav-link:hover {
  cursor: pointer;
  color: rgb(238, 183, 183);
  padding: 0px 20px;
  margin: 5px;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(148, 184, 174)
}

body {
  background-color: rgb(250, 250, 250);
  margin: 10px;
}

/* footer stuff */
footer {
  color: rgb(148, 184, 174);
  padding: 20px 40px;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

/* img {
  width: 100%;
  height: auto;
} */

/* home page things */

#dad-jokes {
}

.home-text {
  color: rgb(238, 183, 183);
  font-size: 100px;
  font-family: 'Pacifico', cursive;
  padding: 10px;
  position: absolute;
  bottom: -275px;
  right: 100px;
  transition-duration: 1s;
}
.home-text:hover {
  color: rgb(148, 184, 174);
  transition-duration: 1s;
}

.home-img {
}

/* about page stuffs */
.about {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px 40px 20px;
  margin-bottom: 40px;
}

#about {
  font-weight: normal;
  color: rgb(238, 183, 183);
  font-size: 2.5rem;
  margin-left: 100px;
  margin-right: 100px;
}

#hello {
  color: rgb(238, 183, 183);
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bolder;
  text-transform: lowercase;
  text-align: left;
  margin: 10px 30px 10px;
  transition-duration: 5s;
}

#hello:hover {
  transform: skew(-20deg);
  transition-duration: 5s;
}

/* number stuffs & code button stuffs */

.numbers {
  margin: none;
  padding: 100px 100px 300px 100px;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.btn {
  color: rgb(250, 250, 250);
  background-color:  rgb(148, 184, 174);
  font-size: 30px;
  text-decoration: none;
  padding: 30px 30px;
  margin: 10px 100px;
  outline: none;
  border: none;
  border-radius: 50px 50px;
  box-shadow: 3px 3px 3px rgb(238, 183, 183);
  transition-duration: 1s;
}

.btn:hover {
  cursor: pointer;
  border-radius: 50px 50px;
  transition-duration: 1s;
  color: white;
  background-color:  rgb(238, 183, 183);
  box-shadow: 3px 3px 3px rgb(148, 184, 174);
}

.btn:active {
  border-radius: 50px;
  transform: translateY(4px);
  transition-duration: 0.2s;
}

#numbers {
  margin: 10px 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font: 20px black bold;
}

p.num {
  color : rgb(250, 250, 250);
  background-color: rgb(238, 183, 183);
  font-family: Helvetica, sans-serif;
  font-size: 80px;
  display: inline-flex;
  border-radius: 13px;
  padding: 5px 25px;
  margin: 10px 10px;
  box-shadow: 5px 5px 5px rgb(148, 184, 174);
}

/* getting started stuffs */

.start {
  color: rgb(238, 183, 183);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px 20px 40px 20px;
  margin-bottom: 40px;
  font-size: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.start2 {
margin-top: none;
}

.materials {
  flex-direction: column;
  font-size: 30px;
  font-weight: bolder;
}

#steps {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

#setupdetail {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#step1imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* step 1 */
.stepone {
  width: 200px;
  height: 200px;
  padding: 5px;
}
#step1imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* step 2 */
.steptwo {
  width: 500px;
  height: auto;
}
#step2imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* step 3 */
.stepthree {
  width: 500px;
  height: auto;
}
#step3imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* step 4 */
.stepfour {
  width: 500px;
  height: auto;
}
#step4imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* step 5 */
.stepfive {
  width: 500px;
  height: auto;
}
#step5imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* step 6 */
.stepsix {
  width: 500px;
  height: auto;
}
#step6imgs {
  display: flex;
  justify-content: center;
  align-content: center;
}

.backtotop {
  color: rgb(238, 183, 183);
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  padding-right: 40px;
  text-decoration: none;
}

.backtotop:hover {
  color: rgb(148, 184, 174);
}

/* mobile ready - @media_vvv */

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    color: rgb(148, 184, 174);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  }

  nav > i {
    /* padding: 1rem; */
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0px;
    /* list-style-type: none; */
  }
}

@media (min-width: 550px) {

  nav {
    color: rgb(148, 184, 174);
    text-decoration: none;
  }
  .hidden--mobile nav-links {
    text-decoration: none;
  }

  nav:visited {
    text-decoration: none;
  }

  nav > ul {
    text-decoration:  none;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: flex-end;
    padding: 0px 20px;
  }

  nav > ul > li {
    color: rgb(148, 184, 174);
    display: inline-block;
    text-decoration: none;
    transition-duration: 1s;
  }

  nav > .fa-bars {
    display: none;
  }
/* mobile ready - @media*_^^^*/
