* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h1.header {
  width: 100%;
  text-align: left;
  font-size: 50px;
  background-color: rgb(255, 185, 213);
  margin: auto;
  padding: 20px 20px;
  z-index: 10;
}

body {
  background-color: rgba(255, 185, 213);
  margin: 20px;
}
/* nav bar stuff */
@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: .5rem .5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

/* footer stuff */
footer {
  text-align: center;
}

/* Set Up page styles */
h2.gettingStarted {
  text-align: center;

}
