* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h1.header {
  width: 100%;
  text-align: left;
  font-size: 50px;
  background-color: rgb(255, 185, 213);
  margin: auto;
  padding: 20px 20px;
  z-index: 10;
}

body {
  background-color: rgba(255, 185, 213);
  margin: 20px;
}
/* nav bar stuff */
ul.topnav {
  padding: 40px;
  list-style-type: none;
  text-align: right;
}
.topnav {
  overflow: hidden;
  background-color: rgba(255, 185, 213);
  text-align: right;
}
.topnav a {
  float: left;

  display: block;
  color: #000000;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: rgba(255, 237, 98, 0.776);
  color: black;
}
nav a.active {
  background-color: rgb(142, 199, 175);
  color: black;
}

/* footer stuff */
footer {
  text-align: center;
}
